body {
    margin: 0;
    background-color: #F5F7FA;
    overflow-x: hidden;

}

.fundoNav {
    display: flex;
    flex-direction: column;
}

.fundoNav {

    top: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s;
}

.header-hidden {
    transform: translateY(-100%);
}

/* --- Scroll Spy --- */
.nav-menu a {
    position: relative;
    transition: color 0.3s ease;
}


.nav-menu a.active-link {
    color: #4DA3D9;
    font-weight: 600;
}

.nav-menu a.active-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4DA3D9;
    border-radius: 2px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    flex-wrap: wrap;
    gap: 20px;
}

.logoNav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    width: 150px;
    height: auto;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    visibility: hidden;
}

.reveal.active-reveal {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}


.reveal-left {
    transform: translateX(-50px);
    opacity: 0;
}

.reveal-right {
    transform: translateX(-50px);
    opacity: 0;
}

.reveal-bottom {
    transform: translateY(-50px);
    opacity: 0;
}

.reveal-left.active-reveal,
.reveal-right.active-reveal {
    transform: translateX(0);
    opacity: 1;
}

.reveal-bottom.active-reveal {
    transform: translateY(0px);
    opacity: 0;
}

.delay-1 {
    transition-delay: 0.8s;
}

.delay-2 {
    transition-delay: 0.12s;
}

.delay-3 {
    transition-delay: 0.16s;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

li {
    list-style: none;
}
a{
text-decoration: none;
}

.navbar li a {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    text-shadow: 0 0 5cqmax #4042b3;
    letter-spacing: 1px;
    color: #0B3C5D;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s, box-shadow 0.3s;
}

.navbar li a:hover {
    color: #4DA3D9;
    box-shadow: 0px 0px 15px rgba(29, 112, 162, 0.7);
}

.botao {
    display: flex;
    justify-items: center;
}

.cadastrar {
    display: flex;
    height: 60px;
    align-items: center;
    background-color: #0B3C5D;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
}

.cadastrar:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgb(8, 180, 192);
    background-color: #1D70A2;
}

.cadastrar span {
    display: flex;
    padding: 10px 10px;
    font-size: 18px;
    color: azure;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bolder;
}

#cadastrar-seinv {
    background-color: transparent;
    border: none;
    justify-content: space-around;
    padding: 2px 100px;
    background-image: none;
}

.imagem_fundo1 {
    position: relative;
    width: 100%;
    min-height: 90vh;
}

.imagem_fundo1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.imagem_fundo1 .hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 20px;
    color: white;
}

.hero-text {
    max-width: 550px;
}

.hero h1 {
    font-size: 40px;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
}

.hero p {
    font-size: 22px;
    margin: 25px 0;
    font-family: "Montserrat Alternates", sans-serif;
}

.btn {
    background-color: #4DA3D9;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Montserrat Alternates", sans-serif;
}

.btn:hover {
    transform: scale(1.03);
    background-color: #0B3C5D;
    box-shadow: 0 0 10px rgb(8, 180, 192);
}




#degrade1 img{
    position: relative;
    bottom: 40px;
    width: 100%;
    height: auto;
    pointer-events: none;
    display: block;
}

#degrade2 img {
    position: relative;
    bottom: -50px;
    z-index: 1;
    width: 100%;
    height: auto;
    pointer-events: none;
    display: block;
}

#degrade3 img {
    position: relative;
    width: 100%;
    height: auto;
    pointer-events: none;
    display: block;
    bottom: 50px;
}

.sobre_nos {
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
    align-items: center;
    margin: 30px 0;
    gap: 20px;
    flex-wrap: wrap;
}

.textos {
    flex: 1;
    min-width: 300px;
    align-items: center;
    text-align: justify;
    padding: 30px 0;
}

.textos h1 {
    font-size: 20px;
    font-family: "Montserrat Alternates", sans-serif;
}

.textos h2 {
    color: #0B3C5D;
    font-size: 25px;
    font-family: "Montserrat Alternates", sans-serif;
}

.textos p {
    font-size: 23px;
    font-weight: 500;
    font-family: "Montserrat Alternates", sans-serif;
    color: black;
}

.sobre_img {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.sobre_img img {
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.imagem_fundo2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    padding: 50px 0;
}

.imagem_fundo2 img.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.ideais {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.visao,
.missao,
.valores {
    flex: 1;
    min-width: 280px;
    min-height: 400px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(29, 111, 162, 0.39);
    backdrop-filter: blur(20px);
    color: white;
    text-align: center;
    position: relative;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border: 1px solid #ffffff;
}

.visao h2,
.missao h2,
.valores h2 {
    color: #4DA3D9;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0 0 5px rgba(112, 211, 224, 0.8);
    font-family: "Montserrat Alternates", sans-serif;
}

.visao p,
.missao p,
.valores p {
    font-size: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    margin-top: 20px;
}

.visao:hover,
.missao:hover,
.valores:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 28px rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.img_ideais {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 20px 0px;
}

.img_ideais img {
    width: 60px;
    height: auto;
}

.potencial {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 5%;
}

.potencial h1 {
    color: #0B3C5D;
    font-size: 40px;
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
}

.potencial p {
    font-size: 25px;
    font-family: "Montserrat Alternates", sans-serif;
}

.potenciais {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    height: auto;
    padding: 25px;
    border-radius: 15px;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.267), 0 2px 6px rgba(0, 0, 0, 0.089);
    transition: 0.3s ease;
}

.card p {
    font-size: 18px;
    margin: 0;
}

.card img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.texto-escondido {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}

.card:hover .texto-escondido {
    max-height: 200px;
    overflow-y: auto;
    opacity: 1;
    margin-top: 10px;
}

.texto-escondido p {
    font-size: 15px;
    text-align: left;
    padding-right: 5px;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.24), 0 5px 50px rgba(0, 0, 0, 0.185);
    cursor: pointer;
}

.certinho {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
    width: 100%;
}

.certinho img {
    width: 40px;
    height: auto;
}

.cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 0 20px;
    text-align: center;
}

.cliente p {
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat Alternates", sans-serif;
}

.btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
}

.btn1 {
    background-color: #0B3C5D;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Montserrat Alternates", sans-serif;
}

.btn1:hover {
    transform: scale(1.03);
    background-color: #4DA3D9;
    box-shadow: 0 0 10px rgb(8, 180, 192);
}

.footer {
    background-color: #1D70A2;
    color: #fff;
    padding: 50px 0 20px;
    font-family: "Montserrat Alternates", sans-serif;
    border-top: 5px solid #0B3C5D;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: "Montserrat Alternates", sans-serif;
}

.equipe .membros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 15px;
    margin-bottom: 40px;
}

.membro {
    text-align: center;
}

.membro img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0B3C5D;
    margin-bottom: 5px;
}

.membro p {
    font-size: 13px;
    line-height: 1.2;
    font-family: "Montserrat Alternates", sans-serif;
}

.sitemap ul {
    list-style: none;
    padding: 0;
}

.sitemap ul li {
    margin-bottom: 10px;
}

.sitemap a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
    font-family: "Montserrat Alternates", sans-serif;
}

.sitemap a:hover {
    color: #0B3C5D;
}

.contato p {
    margin: 5px 0;
    font-family: "Montserrat Alternates", sans-serif;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a img {
    width: 44px;
    margin-right: 10px;
    transition: 0.2s;
}

.social-icons a img:hover {
    transform: scale(1.1);
}

.copyright {
    text-align: right;
    font-size: 13px;
    color: #ccc;
    border-top: 5px solid #0B3C5D;
    margin-top: 30px;
    padding-top: 10px;
    padding-right: 60px;
}

.botao-desktop {
    display: block;
}

.btn-mobile {
    display: none;
}

@media (max-width: 992px) {
    .navbar {
        justify-content: center;
        padding: 15px 30px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 18px;
    }

    .sobre_nos {
        flex-direction: column;
        text-align: center;
    }

    .textos {
        text-align: center;
    }

    .ideais {
        flex-direction: column;
        align-items: center;
    }

    .visao,
    .missao,
    .valores {
        width: 80%;
        min-height: auto;
    }

    .potencial h1 {
        font-size: 30px;
    }

    .potencial p {
        font-size: 20px;
    }

    .menu-toggle {
        display: none;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: #0B3C5D;
        transition: 0.3s;
    }



    .menu-toggle {
        display: flex;
        z-index: 100;
    }

    .separator {
        display: none;
    }

    .botao-desktop {
        display: none;
    }

    .btn-mobile {
        display: block;
        margin-top: 10px;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: #F5F7FA;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }

    .nav-menu.active {
        right: 0;
    }


    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }
}

@media (max-width: 480px) {
    .logo {
        width: 120px;
    }

    .nav-menu {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        text-align: center;
    }

    #cadastrar-seinv {
        display: none;
    }

    .imagem_fundo1 .hero {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        justify-content: center;
    }

    .hero h1 {
        font-size: 26px;
        text-align: center;
    }

    .hero p {
        font-size: 16px;
    }

    .btn,
    .btn1 {
        width: 100%;
        font-size: 18px;
        padding: 12px;
    }

    .textos h2 {
        font-size: 20px;
    }

    .textos p {
        font-size: 16px;
    }

    .visao,
    .missao,
    .valores {
        width: 100%;
        padding: 20px;
    }

    .card {
        min-width: 100%;
    }

    .btns {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .footer-container {
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .equipe .membros {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .copyright {
        padding-right: 20px;
        text-align: center;
    }

}